<div class="border" style="height: 350px;">
  <div class="text-center border-bottom">
    <p class="mb-0"><strong>ジャンル検索</strong></p>
  </div>
  <div class="pt-3">
    <ul style="list-style: none;">
      <% genres.each do |genre| %>
        <li class="mb-2"><%= link_to genre.name, items_path(search: "genre", genre_id: genre.id) %></li>
      <% end %>
    </ul>

  </div>
</div>